<div class="jumbotron">
	<h1 class="display-4">Lorem, ipsum dolor.</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, repellat ullam beatae doloribus ad corporis illum repellendus tempora est earum?</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero explicabo at officia sed alias fugiat cupiditate et impedit, quidem eius?</p>
	<a href="" class="btn btn-primary btn-lg">Learn more</a>
</div>